<!DOCTYPE html>
<html>
<head>
    <title>Signup</title>
</head>
<body>
    <h2>Signup Form</h2>
    <form action="#" th:action="@{/register}" th:object="${employee}" method="post">
    
        <label>First Name:</label>
        <input type="text" th:field="*{firstName}" required />
        
        <label>Last Name:</label>
        <input type="text" th:field="*{lastName}" required />
        
        <label>Username:</label>
        <input type="text" th:field="*{email}" required />
        
        <label>Password:</label>
        <input type="password" th:field="*{password}" required />
        
        <button type="submit">Sign Up</button>
    </form>
    <p th:text="${message}"></p>
</body>
</html>
